:root {
  --background-color: #312834;
  --text-color: white;
  --main-bg-color: #ada5a5;
  --main-text-color: #141516;
  --code-bg: #2a2a3e;
  --border: #454561;
  --shadow: rgba(0, 0, 0, 0.3);
  --accent: #837ff0;
  --accent-border: #9b9cdd;
  --bg: #1e1e2e;
  --text-h: #ffffff;
  --error-text-color: #dc2626;
  --error-bg-color: #282c34;
  --error-border-color: #921818;
  --error-border-shadow: rgba(220, 38, 38, 0.3);
  --table-bg-color: rgba(255, 255, 255, 0.05);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}