
#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --background-color: #312834;
  --text-color:  white;
  --main-bg-color: #ada5a5;
  --main-text-color: #141516;
  --code-bg: #9b9cdd;
  --border: #454561;
  --shadow: #868696;
  --accent: #38375f;
  --accent-border: #837ff0;
  --bg: #dddfe7;
  --text-h: #282830;
  --error-text-color: #dc2626;
  --error-bg-color: #282c34;
  --error-border-color: #921818;

}

